services:
  backend:
    build:
      context: ./backend
    expose:
      - "31000" # Internal only
    volumes:
      - ./data:/app/prisma/database
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
